.root {
    -fx-font-family: "Mulish", sans-serif;
    -fx-background-color: linear-gradient(to bottom, #f48fb1, #f9f4f4);
}

.label {
    -fx-font-size: 14pt;
    -fx-text-fill: #4e2a36;
}

.button {
    -fx-background-color: #f48fb1;
    -fx-text-fill: white;
    -fx-font-size: 13pt;
    -fx-padding: 10 20;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #ec407a;
}

.combo-box {
    -fx-font-size: 13px;
    -fx-background-color: gray;
    -fx-border-color: #f48fb1;
    -fx-text-fill: #4e2a36;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.combo-box .list-cell {
    -fx-text-fill: #4e2a36;
    -fx-background-color: #fff0f4;
}

.combo-box .list-cell:hover {
    -fx-background-color: #f8bbd0;
}

.combo-box .arrow {
    -fx-background-color: #f48fb1;
}

.welcome-pane {
    -fx-background-color: transparent;
}

.welcome-title {
    -fx-font-size: 26pt;
    -fx-font-weight: bold;
    -fx-text-fill: #c2185b;
}

.welcome-description {
    -fx-font-size: 14pt;
    -fx-text-fill: #6d4c41;
    -fx-wrap-text: true;
    -fx-padding: 10 0 20 0;
}

.start-button {
    -fx-background-color: #ec407a;
    -fx-text-fill: white;
    -fx-font-size: 14pt;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.instruction {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #880e4f;
}

.concern-label {
    -fx-font-size: 18px;
    -fx-text-fill: #ad1457;
    -fx-font-weight: bold;
    -fx-padding: 10 0 5 0;
}

.result-heading {
    -fx-font-size: 20pt;
    -fx-text-fill: #d81b60;
    -fx-font-weight: bold;
    -fx-padding: 10 0 20 0;
}

.recommendation-card {
    -fx-background-color: #ffe0e6;
    -fx-padding: 15;
    -fx-border-color: #f48fb1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 3, 1, 0, 2);
}

.card-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #d81b60;
}